<ion-header>
  <ion-toolbar>
    <ion-title>Notas</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="agregarNota()">Añadir Nota</ion-button>
  <ion-list>
    <ion-item *ngFor="let nota of notas">
      <ion-label>
        <h2>{{ nota.titulo }}</h2>
        <p>{{ nota.contenido }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editarNota(nota)">Editar</ion-button>
        <ion-button (click)="eliminarNota(nota)">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-button expand="full" routerLink="/bienvenida">Volver a Inicio</ion-button>
</ion-content>
