<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Botón para agregar notas -->
  <ion-button expand="full" color="secondary" (click)="agregarNota()">Añadir Nota</ion-button>

  <div class="note-container">
    <ion-card *ngFor="let nota of notas" #notaElement>
      <ion-card-header>
        <ion-card-title>{{ nota.titulo }}</ion-card-title>
        <ion-note>{{ nota.fecha | date: 'short' }}</ion-note>
      </ion-card-header>

      <ion-card-content>
        <p>{{ nota.contenido }}</p>

        <!-- Botones para editar y eliminar -->
        <ion-button fill="outline" size="small" color="primary" (click)="editarNota(nota)">Editar</ion-button>
        <ion-button fill="outline" size="small" color="danger" (click)="eliminarNota(nota.id)">Eliminar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Botón para volver a inicio -->
  <ion-button expand="full" color="primary" (click)="volverInicio()">Volver a Inicio</ion-button>
</ion-content>
