<ion-header>
  <ion-toolbar>
    <ion-title class="bienvenida">BigNote by EcheMessi - Bienvenido/a {{ nombreUsuario }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" fill="clear">Cerrar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" routerLink="/tareas">Tareas</ion-button>
  <ion-button expand="full" routerLink="/notas">Notas</ion-button>
  <ion-button expand="full" routerLink="/contactos">Contactos</ion-button>
</ion-content>
