<ion-header>
  <ion-toolbar>
    <ion-title>BigNote by EcheMessi - Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="usuario" name="usuario" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!loginForm.form.valid">Ingresar</ion-button>

    <ion-button expand="full" fill="clear" (click)="openRecuperarPassword()">Olvidé mi contraseña</ion-button>
  </form>

  <!-- Mensaje de agradecimiento por la calificación justo debajo del formulario de login -->
  <p *ngIf="mensajeVisible" class="mensaje-calificacion">Gracias por tu calificación de {{ rating }} estrella(s).</p>

  <!-- Sistema de calificación, ubicado en la parte inferior izquierda -->
  <div class="calificacion-wrapper">
    <div class="calificacion">
      <p>Califica esta app</p>
      <div class="rating">
        <ion-button fill="clear" 
                    *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                    (click)="rate(star)"
                    (mouseover)="setHoveredRating(star)"
                    (mouseleave)="resetHoveredRating()">
          <span [ngClass]="{'highlighted': star <= (hoveredRating || rating)}">★</span>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
