/* Estilos para la página de login */
ion-content {
  --background: url('/assets/img/login.webp') no-repeat center center / cover;
  height: 100vh;
  width: 100vw;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 16px;
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 24px;
  }
  
  .login-button {
    margin-top: 16px;
  }


  /* Estilos para el mensaje de agradecimiento */
.mensaje-calificacion {
  text-align: center;
  color: white;
  margin-top: 10px;
}

/* Coloca el sistema de calificación en la parte inferior derecha */
.calificacion-wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.calificacion {
  text-align: center;
}

.rating ion-button span.highlighted {
  color: gold; /* Color de la estrella resaltada */
}

.rating ion-button span {
  font-size: 24px;
  color: gray; /* Color de la estrella no resaltada */
  transition: color 0.2s ease;
}
