<ion-header>
  <ion-toolbar>
    <ion-title>Contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="agregarContacto()">Agregar Contacto</ion-button>
  <ion-list>
    <ion-item *ngFor="let contacto of contactos">
      <ion-label>
        <h2>{{ contacto.nombre }}</h2>
        <p>{{ contacto.telefono }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editarContacto(contacto)">Editar</ion-button>
        <ion-button (click)="eliminarContacto(contacto)">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-button routerLink="/bienvenida">Volver a Inicio</ion-button>
</ion-content>
