/* Estilos para la página de tareas */
ion-content {
  --background: url('/assets/img/tareas.avif') no-repeat center center / cover;
  height: 100vh;
  width: 100vw;
}

.tareas-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .tarea-item {
    margin-bottom: 8px;
  }
  