<ion-header>
  <ion-toolbar>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
  <ion-button routerLink="/bienvenida">Volver a Inicio</ion-button>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="addTarea()">Agregar Tarea</ion-button>

  <ion-list>
    <ion-item *ngFor="let tarea of tareas">
      <ion-label>{{ tarea.titulo }}</ion-label>
      <ion-button fill="clear" (click)="editTarea(tarea)">Editar</ion-button>
      <ion-button fill="clear" (click)="deleteTarea(tarea)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
