<ion-header>
  <ion-toolbar>
    <ion-title>BigNote by EcheMessi - Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="registrar()" #registroForm="ngForm">
    
    <!-- Nombre Completo -->
    <ion-label position="floating">Nombre Completo</ion-label>
    <ion-item>   
      <ion-input id="nombre" type="text" [(ngModel)]="nombre" name="nombre" required></ion-input>
    </ion-item>
    <!-- Mensaje de error para Nombre -->
    <p id="error-nombre" style="color: red; font-size: 12px; display: none;">El nombre solo puede contener letras y no puede estar vacío.</p>

    
    <!-- Correo Electrónico -->
    <ion-label position="floating">Correo Electrónico</ion-label>
    <ion-item>
      <ion-input id="correo" type="email" [(ngModel)]="correo" name="correo" required></ion-input>
    </ion-item>
    <!-- Mensaje de error para Correo -->
    <p id="error-correo" style="color: red; font-size: 12px; display: none;">El formato de correo no es válido y no puede estar vacío.</p>

    <!-- Edad -->
    <ion-label position="floating">Edad</ion-label>
    <ion-item class="label1">
      <ion-input id="edad" type="number" [(ngModel)]="edad" name="edad" required></ion-input>
    </ion-item>
    <!-- Mensaje de error para Edad -->
    <p id="error-edad" style="color: red; font-size: 12px; display: none;">La edad debe ser un número de hasta 2 dígitos y no puede estar vacío.</p>


    <!-- Sexo -->
    <ion-item class="label1">
      <ion-label>Sexo</ion-label>
      <ion-select [(ngModel)]="sexo" name="sexo" required>
        <ion-select-option value="hombre">Hombre</ion-select-option>
        <ion-select-option value="mujer">Mujer</ion-select-option>
        <ion-select-option value="?">?</ion-select-option>
      </ion-select>
    </ion-item>
    
    <!-- Botón de Registro -->
    <ion-button expand="end" type="submit" [disabled]="!registroForm.form.valid">Registrarse</ion-button>

    <ion-button expand="end" routerLink="/login">Cancelar</ion-button>
    
  </form>
</ion-content>
